[submodule "yoloefork"]
	path = yoloefork
	url = https://github.com/RepnikovPavel/yoloefork.git
	branch = myfork
[submodule "ultralyticsfork"]
	path = ultralyticsfork
	url = https://github.com/RepnikovPavel/ultralyticsfork.git
	branch = myfork
